[run]
source = 
    src
branch = True
omit = 
    */tests/*
    */migrations/*
    */__pycache__/*
    */__init__.py
    */templates/*
    templates/*
    templates/app_templates/*
    src/media/*
    venv/*
    .venv/*
    */admin.py
    */apps.py
    */settings.py
    */asgi.py
    */wsgi.py
    */manage.py
    src/core_config/settings.py
    src/core_config/urls.py
    src/core_config/asgi.py
    src/core_config/wsgi.py

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover
    
    # Don't complain about missing debug-only code:
    def __repr__
    if self\.debug
    
    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError
    
    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:
    
    # Don't complain about abstract methods
    @(abc\.)?abstractmethod
    
    # Ignore test files themselves
    def test_

[html]
directory = htmlcov
