[run]
branch = True
source =
    src/core_auth
    src/core_app

[report]
omit =
    */tests/*
    */migrations/*
    */__init__.py
    */settings.py
    */wsgi.py
    */asgi.py
    manage.py
    templates/*
    templates/app_templates/*
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.
    def __repr__
    def __str__
    def __unicode__
    @abstractmethod
    @overload
    pass

[html]
directory = htmlcov
