[flake8]
max-line-length = 100
extend-ignore = E203, W503
exclude =
    .git,
    __pycache__,
    venv,
    .venv,
    build,
    dist,
    templates,
    migrations
per-file-ignores =
    src/core_app/tests/*: F401, F841, F811, E501
    src/core_auth/tests/*: F401, F841, F811, E501
    src/core_auth/adapters/forms.py: E501
