[run]
source = .
omit = 
    */migrations/*
    */tests/*
    */__init__.py
    *migrations/*.py
    *tests/*.py
    manage.py
    */settings/*.py
    *wsgi.py
    *asgi.py
    */urls.py
    */admin.py
    */apps.py
    conftest.py
    core_config/settings.py
    core_config/database_routers.py

[report]
# Mostrar el porcentaje de cobertura en la salida
show_missing = True

# No mostrar líneas que faltan en la salida estándar
skip_covered = True

# Excluir líneas específicas
# Las líneas con # pragma: no cover se excluirán
exclude_lines =
    # No hay necesidad de probar las líneas de depuración
    pragma: no cover
    def __str__
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    raise ImportError
